@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Inconsolata';
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh; }
  .main .main__img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .main__img .main__img--imagen {
      position: relative;
      margin-top: 1%;
      width: 90%;
      border: 1px solid #424225;
      max-width: 100%;
      box-shadow: 0px 0px 7px #ffffff; }
  .main .parrafo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
    bottom: 20%;
    left: 35%;
    right: 35%;
    font-family: "Philosopher", sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
    font-size: 15px;
    font-style: italic;
    text-align: center;
    /*margin-top: 26%;*/ }
    .main .parrafo .parrafo__cancion {
      letter-spacing: 3px;
      font-size: 20px;
      font-weight: lighter;
      margin: 0.3rem 0 0 0; }

@media only screen and (max-width: 700px) {
  .main .main__img .main__img--imagen {
    margin-top: 30%; }
  .main .parrafo {
    top: 70%;
    bottom: 10%;
    left: 2%;
    right: 2%; } }

.tituloDisc {
  font-family: 'kashmir-webfont', Arial, sans-serif;
  font-size: small;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 2vh;
  z-index: -1; }

#contenedorDiscografia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10vh; }
  #contenedorDiscografia .discos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    margin: 10px;
    padding: 7px;
    border-radius: 5%;
    justify-content: space-around;
    box-shadow: 0px 0px 10px #181818; }
    #contenedorDiscografia .discos .discos__tapa {
      display: flex;
      flex-direction: column; }
      #contenedorDiscografia .discos .discos__tapa .discos__tapa--imagen {
        width: 270px;
        border-radius: 2.5%; }
      #contenedorDiscografia .discos .discos__tapa .discos__tapa--titulo {
        font-family: "Philosopher", sans-serif;
        color: #ffffff; }
      #contenedorDiscografia .discos .discos__tapa .discos__tapa--titulo--año {
        font-family: "Philosopher", sans-serif;
        color: #ffffff;
        margin-bottom: 0.5vh; }

@media only screen and (max-width: 700px) {
  .tituloDisc {
    text-align: center;
    margin-top: 8vh;
    text-shadow: none; } }

body .tituloVid {
  font-family: 'kashmir-webfont', Arial, sans-serif;
  font-size: small;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 2vh;
  z-index: -1; }

body .contenedor {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15vh; }
  body .contenedor .contenedor__videos {
    background-color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.5%;
    box-shadow: 0px 0px 10px #181818; }
    body .contenedor .contenedor__videos iframe {
      width: 100%; }

@media only screen and (max-width: 700px) {
  body .tituloVid {
    text-align: center;
    margin-top: 8vh;
    text-shadow: none; }
  body .contenedor {
    grid-template-columns: 1fr;
    width: 95%;
    margin: auto;
    margin-bottom: 15vh; } }

.tituloCont {
  font-family: 'kashmir-webfont', Arial, sans-serif;
  font-size: small;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 2vh;
  z-index: -1; }

form fieldset {
  background-color: black;
  border-width: 5px;
  padding: 0%;
  border-radius: 6%;
  box-shadow: 0px 0px 15px #181818; }

form #campo-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 0.5% 5% 0.5% 5%; }

form legend #estiloH2 {
  font-family: 'kashmir-webfont', Arial, sans-serif;
  font-size: small;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.3rem;
  font-family: 'Recursive', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 20px;
  text-shadow: 0px 0px 9px #ffffff; }

@media only screen and (max-width: 700px) {
  body .tituloCont {
    text-align: center;
    margin-top: 8vh; }
  body form fieldset {
    background-color: rgba(22, 22, 22, 0.774);
    border-width: 5px;
    padding: 0%;
    border-radius: 10%; }
  body form #campo-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    padding: 0.5% 5% 2% 5%; } }

body .tituloFoto {
  font-family: 'kashmir-webfont', Arial, sans-serif;
  font-size: small;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 2vh;
  z-index: -1; }

body .contFoto {
  background-color: black;
  box-shadow: 0px 0px 10px #181818; }

body .titmod {
  font-family: 'kashmir-webfont', Arial, sans-serif;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.3rem; }

@media only screen and (max-width: 700px) {
  .tituloFoto {
    text-align: center;
    margin-top: 8vh; } }

html {
  min-height: 100%; }
  html body.cuerpo {
    box-sizing: border-box;
    height: 100%;
    background-color: #000000;
    background-image: radial-gradient(#11581E, #041607), url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata', Helvetica, sans-serif;
    font-size: 1.5rem;
    color: rgba(128, 255, 128, 0.8);
    text-shadow: 0 0 1ex #33ff33, 0 0 2px rgba(255, 255, 255, 0.8); }
  html .noise {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: .02; }
  html .overlay {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 100%);
    background-size: auto 4px;
    z-index: 1; }
  html .overlay::before {
    content: "";
    pointer-events: none;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, transparent 0%, rgba(32, 128, 32, 0.2) 2%, rgba(32, 128, 32, 0.8) 3%, rgba(32, 128, 32, 0.2) 3%, transparent 100%);
    background-repeat: no-repeat;
    animation: scan 7.5s linear 0s infinite; }

@keyframes scan {
  0% {
    background-position: 0 -100vh; }
  35%,
  100% {
    background-position: 0 100vh; } }
  html .terminal {
    box-sizing: inherit;
    position: absolute;
    height: 100%;
    width: 1000px;
    max-width: 100%;
    padding: 4rem;
    text-transform: uppercase; }
    html .terminal .errorcode {
      color: white; }
    html .terminal .output {
      color: rgba(128, 255, 128, 0.8);
      text-shadow: 0 0 1px rgba(51, 255, 51, 0.4), 0 0 2px rgba(255, 255, 255, 0.8); }
      html .terminal .output a {
        color: #fff;
        text-decoration: none; }
      html .terminal .output a::before {
        content: "["; }
      html .terminal .output a::after {
        content: "]"; }
    html .terminal .output::before {
      content: "> "; }

@font-face {
  font-family: 'kashmir-webfont';
  src: url("kashmir-webfont.eot");
  src: url("kashmir-webfont.eot?#iefix") format("embedded-opentype"), url("kashmir-webfont.woff") format("woff"), url("kashmir-webfont.ttf") format("truetype"), url("kashmir-webfont.svg#webfont") format("svg"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #050505;
  background-repeat: no-repeat;
  background-size: cover; }
  body header {
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0%;
    z-index: 1; }
    body header div {
      margin: auto; }
    body header nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom, #000000 80%, #292929 98%);
      width: 100%;
      height: 4vh; }
      body header nav .botones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0%; }
        body header nav .botones li {
          display: flex;
          flex-wrap: nowrap; }
        body header nav .botones .botones__nav {
          font-family: 'kashmir-webfont', Arial, sans-serif;
          font-size: small;
          color: #ffffff;
          text-align: center;
          letter-spacing: 0.3rem;
          font-family: 'Recursive', sans-serif;
          background: linear-gradient(to top, #000000 73%, #808080 100%, #000000 73%);
          text-decoration: none;
          text-transform: uppercase;
          border-radius: 10%;
          padding: 1px 15px;
          border: 1px solid #ffffff;
          cursor: pointer;
          font-size: 1.375rem;
          line-height: 1em;
          font-weight: 700;
          letter-spacing: 0.1rem;
          text-shadow: 0px 0px 9px #ffffff; }
          body header nav .botones .botones__nav:hover {
            background: linear-gradient(to top, #b0b0b0 0%, #ffffff 23%);
            color: black; }
  body footer.pie {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0%; }
    body footer.pie .pie__redes--link:hover > img {
      transform: rotate(360deg);
      transition: all 0.5s; }
    body footer.pie .copyright {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      background-color: #050505;
      color: #ffffff;
      margin: 0 !important; }

@media only screen and (max-width: 700px) {
  body {
    background: black; }
    body header nav .botones li {
      margin-bottom: 0.1%; }
      body header nav .botones li .botones__nav {
        padding: 2.5px 10px;
        font-size: 1.3rem;
        letter-spacing: 0; } }
