@charset "UTF-8";
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh; }
  .main .main__img {
    display: flex;
    justify-content: center;
    align-items: center; }
    .main .main__img .main__img--imagen {
      position: relative;
      margin-top: 1.5%;
      width: 90%;
      border: 1px solid #424225;
      animation: swing 1.2s ease-in-out infinite alternate;
      -webkit-animation: swing 1.1s ease-in-out infinite alternate;
      -moz-animation: swing 1.1s ease-in-out infinite alternate;
      transform-origin: center -80px;
      max-width: 100%;
      box-shadow: 0px 0px 12px #ffffff; }

@keyframes swing {
  from {
    transform: rotate(-0.1deg); }
  to {
    transform: rotate(0.1deg); } }
  .main .parrafo {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: "Philosopher", sans-serif;
    color: #ffffff;
    letter-spacing: 3px;
    font-size: 15px;
    text-align: center;
    margin-top: 26%; }
    .main .parrafo .parrafo__cancion {
      color: #ffffff;
      letter-spacing: 3px;
      font-size: 18px;
      font-weight: lighter; }
    .main .parrafo .parrafo__play {
      color: #ffffff; }

@media only screen and (max-width: 700px) {
  .main .main__img .main__img--imagen {
    margin-top: 30%; }
  .main .parrafo {
    margin-top: 100%; } }

#contenedorDiscografia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10vh; }
  #contenedorDiscografia .discos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #131313da;
    margin: 10px;
    padding: 7px;
    justify-content: space-around;
    box-shadow: 0px 0px 5px #ffffff; }
    #contenedorDiscografia .discos .discos__tapa {
      display: flex;
      flex-direction: column; }
      #contenedorDiscografia .discos .discos__tapa .discos__tapa--imagen {
        width: 270px; }
      #contenedorDiscografia .discos .discos__tapa .discos__tapa--titulo {
        font-family: "Philosopher", sans-serif;
        color: #ffffff; }
      #contenedorDiscografia .discos .discos__tapa .discos__tapa--titulo--año {
        font-family: "Philosopher", sans-serif;
        color: #ffffff;
        margin-bottom: 1vh; }

.contenedor {
  display: grid;
  row-gap: 10px;
  column-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 15vh; }
  .contenedor .contenedor__videos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    border-radius: 5%;
    box-shadow: 0px 0px 5px #ffffff; }
    .contenedor .contenedor__videos iframe {
      width: 100%; }

@media only screen and (max-width: 700px) {
  body {
    background-image: url(/imagenes/logocel.png); }
    body .contenedor {
      grid-template-columns: 1fr;
      width: 95%;
      margin: auto;
      margin-bottom: 15vh; } }

form fieldset {
  background-color: #131313da;
  border-width: 5px;
  padding: 0%;
  border-radius: 10%;
  box-shadow: 0px 0px 12px #ffffff; }

form #campo-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  padding: 0.5% 5% 0.5% 5%; }

form legend #estiloH2 {
  font-family: 'kashmir-webfont', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 9px #ffffff;
  letter-spacing: 0.2rem;
  font-size: 25px; }

@media only screen and (max-width: 700px) {
  body {
    background-image: url(/imagenes/logocel.png); }
    body form fieldset {
      background-color: rgba(22, 22, 22, 0.774);
      border-width: 5px;
      padding: 0%;
      border-radius: 10%; }
    body form #campo-form {
      display: flex;
      flex-direction: column;
      margin: auto;
      width: 90%;
      padding: 0.5% 5% 2% 5%; } }

@font-face {
  font-family: 'kashmir-webfont';
  src: url("kashmir-webfont.eot");
  src: url("kashmir-webfont.eot?#iefix") format("embedded-opentype"), url("kashmir-webfont.woff") format("woff"), url("kashmir-webfont.ttf") format("truetype"), url("kashmir-webfont.svg#webfont") format("svg"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

#estiloH1 {
  font-family: 'kashmir-webfont', Arial, sans-serif;
  color: #ffffff;
  text-align: center;
  text-shadow: 0px 0px 9px #ffffff;
  letter-spacing: 0.2rem;
  font-family: 'kashmir-webfont', Arial, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  margin-top: 2vh;
  -webkit-text-stroke: 1px #ffffff;
  color: #000000;
  z-index: -1; }

body {
  background-color: #000000 !important;
  background-repeat: no-repeat;
  background-size: cover; }
  body header {
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0%;
    z-index: 1; }
    body header div {
      margin: auto; }
    body header nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to bottom, #000000 80%, #292929 98%);
      width: 100%;
      height: 4vh; }
      body header nav ul#botones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; }
        body header nav ul#botones li {
          display: flex;
          flex-wrap: nowrap; }
        body header nav ul#botones .botones__nav {
          font-family: 'kashmir-webfont', Arial, sans-serif;
          color: #ffffff;
          text-align: center;
          text-shadow: 0px 0px 9px #ffffff;
          letter-spacing: 0.2rem;
          background: linear-gradient(to top, #000000 73%, #808080 100%, #000000 73%);
          text-decoration: none;
          text-transform: uppercase;
          border-radius: 10%;
          padding: 1px 15px;
          border: 1px solid #ffffff;
          cursor: pointer;
          font-size: 1.375rem;
          line-height: 1em;
          font-weight: 700; }
          body header nav ul#botones .botones__nav:hover {
            background: linear-gradient(to top, #b0b0b0 0%, #ffffff 23%);
            color: #000000; }
  body footer.pie {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0%; }
    body footer.pie .pie__redes--link:hover > img {
      transform: rotate(360deg);
      transition: all 0.5s; }
    body footer.pie .copyright {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      background-color: #000000;
      color: #ffffff;
      margin: 0 !important; }

@media only screen and (max-width: 700px) {
  body {
    background: #000000 !important; }
    body header nav ul#botones li {
      margin-bottom: 2%; }
      body header nav ul#botones li .botones__nav {
        padding: 2px 8px;
        font-size: 0.8rem; }
    body #estiloH1 {
      text-align: center;
      margin-top: 5vh; } }
