@mixin border-radius {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -o-border-radius: 10%;
    -ms-border-radius: 10%;
    border-radius: 10%;
}

@mixin fuentex{
    font-family: 'kashmir-webfont', Arial, sans-serif;
    font-size: small;
    color:$color-secundario;
    text-align: $texto-centro;
    letter-spacing: 0.3rem;
}
