@mixin border-radius {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -o-border-radius: 10%;
    -ms-border-radius: 10%;
    border-radius: 10%;
}

@mixin fuentex{
    font-family: 'kashmir-webfont', Arial, sans-serif;
    color:$color-secundario;
    font-size: small;
    text-align: $texto-centro;
    text-shadow: 0px 0px 9px $color-secundario;
    letter-spacing: 0.2rem;
}
