@import "variables/colores";
@import "variables/display";
@import "variables/fuentes";
@import "variables/texto";
@import "variables/altoAncho";

@import "secciones/index";
@import "secciones/discografia";
@import "secciones/videos";
@import "secciones/contacto";

@import "mixins";


@font-face {
    font-family: $fuente-kashmir;
    src: url(kashmir.ttf), format(TrueType);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#estiloH1 {
    @include fuentex;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 2vh;
    -webkit-text-stroke: 1px $color-secundario;
    color: $color-primario;
    z-index: -1;
}

body {
    background-color: $color-primario!important;
    background-repeat: no-repeat;
    background-size: cover;

    header {
        background: $color-primario;
        display: $flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        top: 0%;
        z-index: 1;
        div {
            margin: auto;
        }
        nav {
            display: $flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background: $gradiente-negro-abajo;
            width: $ancho-max;
            height: ($alto-max/10)-6;
    
            ul#botones {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
    
                li {
                    display: $inlineblock;
                }
                .botones__nav {
                    @include fuentex;
                    text-shadow: 21px -11px 100px -8px rgba(255, 0, 0, 0.89);
                    background: $gradiente-negro-arriba;
                    text-decoration: none;
                    text-transform: uppercase;
                    border-radius: 10%;
                    padding: 0 15px;
                    border: 1px solid $color-secundario;
                    cursor: pointer;
                    font-size: 22px;
                    line-height: 1em;
                    font-weight: 700;
                    
                    &:hover {
                        background: $gradiente-blanco-arriba;
                        color: $color-primario;
                    }
                }
            }
        }
    }

    footer.pie {
        text-align: $texto-centro;
        position: fixed;
        width: $ancho-max;
        bottom: 0%;

        .pie__redes--link:hover>img {
            transform: rotate(360deg);
            transition: all 0.5s;
        }
        .copyright {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            background-color: $color-primario;
            color: $color-secundario;
            margin: 0!important;
        }
    }

}

@media only screen and (max-width: 700px) {
    body {
        background: $color-primario !important;
        header {
            nav {
                ul#botones {
                    li {
                        margin-bottom: 2%;
                        .botones__nav {
                            padding: 2px 7px;
                            font-size: 1.05rem;
                            
                        }
                    }
                }
            }
        }
        #estiloH1 {
            text-align: $texto-centro;
            margin-top: 5vh;
        }

    }
}