$color-primario: rgb(0, 0, 0);
$color-secundario: #ffffff;
$color-terciario: rgb(9, 9, 9);
$color-terciario2: rgb(24, 24, 24);

$gradiente-negro-abajo: linear-gradient(to bottom, #000000 80%, #292929 98%);
$gradiente-negro-arriba: linear-gradient(to top, #000000 73%, #808080 100%, #000000 73%);
$gradiente-blanco-arriba: linear-gradient(to top, #b0b0b0 0%, #ffffff 23%);