@import "mixins";

.tituloCont {
    @include fuentex;
    font-size: 50px;
    text-transform: uppercase;
    margin-top: 2vh;
    z-index: -1;
    
}

form {
    
    fieldset {
        background-color: $color-primario;
        border-width: 5px;
        padding: 0%;
        border-radius: 6%;
        box-shadow: 0px 0px 15px $color-terciario2;
    }

    #campo-form {
        display: $flex;
        flex-direction: column;
        margin: auto;
        width: ($ancho-max/2);
        padding: 0.5% 5% 0.5% 5%;
    }

    legend {
        #estiloH2 {
            @include fuentex;
            font-family: 'Recursive', sans-serif;
            letter-spacing: 0.1rem;
            font-size: 20px;
            text-shadow: 0px 0px 9px $color-secundario;
        }
    }

    #campo-form:hover {
        box-shadow: 0px 0px 5px $color-secundario;
    }

}



@media only screen and (max-width: 700px) {
    body {
        .tituloCont {
            text-align: $texto-centro;
            margin-top: 8vh;
        }
        form {
            fieldset {
                background-color: $color-primario;
                border-width: 5px;
                padding: 0%;
                border-radius: 10%;
            }
            #campo-form {
                display: $flex;
                flex-direction: column;
                margin: auto;
                width: ($ancho-max)-10;
                padding: 0.5% 5% 2% 5%;
            }
        }
    }
}

@media only screen and (max-width: 700px) {


}