@import "mixins";

body {
    .tituloDisc {
        @include fuentex;
        font-size: 50px;
        font-weight: 100;
        text-transform: uppercase;
        margin-top: 2vh;
        z-index: -1;
    }
    
    .contenedorDiscografia {
        display: $flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-bottom: 10vh;
    
        .discos {
            display: $flex;
            flex-direction: column;
            align-items: center;
            background-color: $color-primario;
            margin: 10px;
            padding: 7px;
            border-radius: 5%;
            justify-content: space-around;
            box-shadow: 0px 0px 10px $color-terciario2;
    
            .discos__tapa {
                display: $flex;
                flex-direction: column;
    
                .discos__tapa--imagen {
                    width: 270px;
                    border-radius: 2.5%;
                }
    
                .discos__tapa--titulo {
                    font-family: $fuente-philo;
                    color: $color-secundario;
                }
    
                .discos__tapa--titulo--año {
                    font-family: $fuente-philo;
                    color: $color-secundario;
                    margin-bottom: 0.5vh;
                }
            }
        }
        .discos:hover {
            box-shadow: 0px 0px 5px $color-secundario;
        }
    }
}



@media only screen and (max-width: 700px) {
    .tituloDisc {
        text-align: $texto-centro;
        margin-top: 8vh;
        text-shadow: none;
    }

    .discos {
        background-color: $color-terciario2;
    }

}