.main {
    display: $flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;

    .main__img {
        display: $flex;
        justify-content: center;
        align-items: center;

        .main__img--imagen {
            
            position: relative;
            margin-top: 2%;
            width: 90%;
            border: 1px solid rgb(66, 66, 37);
            animation: swing 1.2s ease-in-out infinite alternate;
            -webkit-animation: swing 1.1s ease-in-out infinite alternate;
            -moz-animation: swing 1.1s ease-in-out infinite alternate;
            transform-origin: center -80px;
            max-width: 100%;
            box-shadow: 0px 0px 12px $color-secundario;
        }
    }

    @keyframes swing {
        from {
            transform: rotate(-0.1deg);
        }

        to {
            transform: rotate(0.1deg);
        }
    }
    
    .parrafo {
        display: $flex;
        flex-direction: column;
        position: fixed;
        font-family: $fuente-philo;
        color: $color-secundario;
        letter-spacing: 3px;
        font-size: 15px;
        text-align: $texto-centro;
        margin-top: 30%;

        .parrafo__cancion {
            color: $color-secundario;
            letter-spacing: 3px;
            font-size: 18px;
            font-weight: lighter;
        }
        .parrafo__play {
            color: #ffffff;
        }

        }
        }

@media only screen and (max-width: 700px) {
    .main {
        .main__img {
            .main__img--imagen {
                margin-top: 30%;
            }
        }

        .parrafo {
            margin-top: 100%;
        }
    }
}