
.main {
    display: $flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;

    .main__img {
        display: $flex;
        justify-content: center;
        align-items: center;

        .main__img--imagen {
            
            position: relative;
            margin-top: 1%;
            width: 90%;
            border: 1px solid rgb(66, 66, 37);
            max-width: 100%;
            box-shadow: 0px 0px 5px $color-secundario;
        }
    }
    .cajaTema {
        display: $flex;
        flex-direction: column;
        position: absolute;
        top: 74%;
        bottom: 20%;
        left: 35%;
        right: 35%;

        .cajaTema__parrafo {

            font-family: $fuente-philo;
            color: $color-secundario;
            letter-spacing: 3px;
            font-size: 15px;
            font-style: italic;
            text-align: $texto-centro;
            
            .boton {
                margin-top: 1.5%;
                background-color: transparent;
                border-radius: 100px;
                box-shadow: 0px 0px 2px $color-secundario;
                .cajaTema__parrafo--cancion {
                    color: $color-secundario;
                    letter-spacing: 2px;
                    font-size: 20px;
                    font-weight: lighter;
                    margin: 1px 6px;
                }
            }

            .boton:hover {
                background-color: $color-terciario;
                box-shadow: 0px 0px 9px $color-terciario2;
                .cajaTema__parrafo--cancion:hover {
                    letter-spacing: 1px;
                    font-size: 23px;
                }
            }
            
        }
    }

}

@media only screen and (max-width: 700px) {
    body {
        .main {
            .main__img {
                .main__img--imagen {
                    margin-top: 30%;
                }
            }

            .cajaTema {
                top: 70%;
                bottom: 10%;
                left: 2%;
                right: 2%;
            }
        }
    }

}