.main {
    display: $flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;

    .main__img {
        display: $flex;
        justify-content: center;
        align-items: center;

        .main__img--imagen {
            
            position: relative;
            margin-top: 1%;
            width: 90%;
            border: 1px solid rgb(66, 66, 37);
            max-width: 100%;
            box-shadow: 0px 0px 7px $color-secundario;
        }
    }
    
    .parrafo {
        display: $flex;
        flex-direction: column;
        position: absolute;
        top: 75%;
        bottom: 20%;
        left: 35%;
        right: 35%;
        font-family: $fuente-philo;
        color: $color-secundario;
        letter-spacing: 3px;
        font-size: 15px;
        font-style: italic;
        text-align: $texto-centro;
        /*margin-top: 26%;*/

        .parrafo__cancion {
            letter-spacing: 3px;
            font-size: 18px;
            font-weight: lighter;
            margin: 0.3rem 0 0 0;
        }
        
    }
}

@media only screen and (max-width: 700px) {
    .main {
        .main__img {
            .main__img--imagen {
                margin-top: 30%;
            }
        }

        .parrafo {
            top: 60%;
            bottom: 10%;
            left: 5%;
            right: 5%;
        }
    }
}